.list{
    list-style-type: none;}
    .info-list{
        list-style-type: none;
        display: flex;
    }
.nav-list
    {display: flex;
    list-style-type: none;
    gap: 40px;

}
.address-list{
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;

}
.foto-list{
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding-left: 156px;
    padding-bottom: 120px;
}
.portfolio-list{
    display: flex;
    list-style-type: none;
    margin-left: 156px;
    margin-right: 156px;
}
.portfolio{
margin-top: 119px;
margin-bottom: 120px;
}
.header{
    border-bottom: 1px solid #e7e9fc;
    width: 1158px;
height: 72px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-bottom: 0;
    margin-top: 0;
}
ul,ol{
    padding: 0;
    margin: 0;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    align-items: center;
}
.logo, .navigation, .contact, .icon{
    text-decoration: none;
}
.contacts{
    font-style: normal;
    margin-left: auto;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo{
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
margin-right: 76px;
}
.logos{
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.navigation{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height:1.5;
letter-spacing: 0.32px;
padding-bottom: 24px;
padding-top: 24px;
display: block;
}
.navigation-nav{
    display: flex;
    align-items: center;
}

.navigation:hover, .navigation:focus{
    color: #404BBF;
}
.contact{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
letter-spacing: 0.32px;
}
.contact:hover, .contact:focus{
    color: #404BBF;
}
.heading{
    background-color: #2E2F42;
height: 600px;
}
.title{
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
letter-spacing: 1.12px;
align-items: center;
padding-top: 188px;
padding-bottom: 48px;
}
button{
    cursor: pointer;
}
.button{
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
letter-spacing: 0.64px;
align-items: center;
margin-left: 648px;
padding-left: 32px;
padding-top: 16px;
padding-bottom: 16px;
padding-right: 32px;
}
.button:hover, .button:focus{
background-color: #404BBF;
}
.section{
    background-color: #F4F4FD;
height: 732px;
}
.info{
height: 104px;
    margin-top: 119px;
    margin-bottom: 120px;
    margin-left: 156px;
    margin-right: 156px;
}
.name{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
letter-spacing: 0.4px;
padding-right: 24px;
padding-bottom: 8px;

}
.name2{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
letter-spacing: 0.4px;
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 8px;
padding-left: 16px;
padding-top: 32px;
padding-right: 16px;
padding-bottom: 8px;
}
.name3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 32px;
padding-left: 16px;
padding-bottom: 8px;
}
.foto{
    background-color: #FFFFFF;
    margin-top: 72px;
    border-radius: 0 0 4px 4px;
padding: 0px 0px 32px 0px;
width: 264px;
height: 380px;
}
.foto2{
padding-right: 24px;
padding-bottom: 48px;
}
img{
    display: block;
}
.text{
    font-size: 16px;
    line-height: 1.5;
letter-spacing: 0.32px;
padding-right: 24px;
}
.text2{
    font-size: 16px;
    line-height: 1.5;
letter-spacing: 0.32px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 8px;
}
.text3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-bottom: 32px;
padding-left: 16px;
}
.headline{
    text-align: center;
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-bottom: 72px;
}
.footer{
    background-color: #2E2F42;
height: 312px;
}
.end{
padding-left: 156px;
padding-top: 100px;
padding-bottom: 100px;
}
.icon{
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.end-text{
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
letter-spacing: 0.32px;
width: 264px;
padding-top: 16px;
}